html,
body {
  overflow: hidden;
  height: 576px;
  width: 1024px;
  max-height: 576;
  max-width: 1024;
}

* {
  /* font-family: 'seriousr2b', sans-serif; */
  font-family: "seriousr2", sans-serif;
  /* font-family: 'seriousr4b', sans-serif; */
  /* font-family: 'seriousr4', sans-serif; */
  /* overflow: hidden; */
  max-height: 576;
  max-width: 1024;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #fafdfd;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: black;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  margin-top: 20px;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

button {
  background-color: white;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}

.btn:hover {
  background-color: lightgray;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  max-width: 12.5vh;
  border-bottom: 1px solid #dbd7d7;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #948c8c;
  margin-top: 0px;
  background-color: inherit;
  box-shadow: 0px 0px 0px 0px black;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #1b1d1d;
  color: #272828;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 600px;
  height: 325px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  margin-top: 40px;
  background-color: #efefef;
  border: 2px solid black;
  box-shadow: 4px 8px 6px -2px black;
  border-radius: 3px;
  /* box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4); */
  box-shadow: 5px 3px 7px -2px black;
  text-align: center;
  z-index: 1;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  display: flex;
  box-sizing: border-box;
  /* padding: 15px 10px; */
  margin: 0px;
  border: 2px solid #e01616;
  background-color: #efefef;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
  height: 25px;
  width: 100%;
}
