* {
    /* font-family: 'seriousr2b', sans-serif; */
    font-family: 'seriousr2', sans-serif;
    /* font-family: 'seriousr4b', sans-serif; */
    /* font-family: 'seriousr4', sans-serif; */
}

button:hover {
    background-color: lightgray;
}

.btn:hover {
    background-color: lightgray;
}